<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452406313117-1df89jcor3480f4830artem4qm0da2s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452406313117-1df89jcor3480f4830artem4qm0da2s2</string>
	<key>API_KEY</key>
	<string>AIzaSyBV8UudIyzE-azGjY-AcKpSb3ag0mVXqsE</string>
	<key>GCM_SENDER_ID</key>
	<string>452406313117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.designcode</string>
	<key>PROJECT_ID</key>
	<string>flutter-dc-853df</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dc-853df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452406313117:ios:fbde9e9163b27d8c6f5474</string>
</dict>
</plist>